<header class="navbar">

  <a (click)="LogOut()" class="logout">LogOut</a>
    <a  class="navbar-brand">
      Hello Manager
    </a>
    <nav class="navbar-navigation">
      <a routerLink="addProject"routerLinkActive="active">Add Project</a>
      <a routerLink="reportsManagement"routerLinkActive="active">Reports Management</a>
       

     <!-- <a routerLink="userManagement"routerLinkActive="active">User Management</a> -->
      <a routerLink="changeProjectState"routerLinkActive="active">Change Project State</a>
      <kendo-menu [items]="items" (select)="onSelect($event)">
      </kendo-menu>
    </nav>

   
  </header>
  <div #target>
    Target
</div>

  <router-outlet></router-outlet>