
<header class="navbar">

  <img src="../../../assets/img/Picture1.jpg" class="logo">  
  <a  class="navbar-brand">
    Hello User
  </a>
 
</header>
<div class="page-header-1"></div>
  <form [formGroup]="formGroup">
<div class="box">
    <div id="header">
        <div id="cont-lock"><i class="material-icons lock">Please Sign In</i></div>
        <div id="bottom-head"><h1 id="logintoregister"></h1></div>
      </div> 
<div class="group">      
  <input class="inputMaterial" type="text"  formControlName="userName" >
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>User name</label>
  
  <div *ngIf="formGroup.controls['userName'].errors&&formGroup.controls['userName'].touched">
  <p-message  severity="error" [text]=err  *ngFor="let err of obj.values(formGroup.controls['userName'].errors)"></p-message>
  </div>
  </div>

<div class="group">      
  <input class="inputMaterial" type="password"  formControlName="userPassword" >
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>Password</label>
  <div *ngIf="formGroup.controls['userPassword'].errors&&formGroup.controls['userPassword'].touched">
        <p-message  severity="error" [text]=err  *ngFor="let err of obj.values(formGroup.controls['userPassword'].errors)"></p-message>
  </div>

  </div>
  <a id="forget_password" routerLink="/forgetPassword"routerLinkActive="active">Forget Your Password?</a>
<button id="buttonlogintoregister" (click)=submitLogin() [disabled]="formGroup.invalid">Login</button>
  
</div>
</form>
