#allUsers{

}
#allTeamLeaders{

}
#allProjects{


}
#selectGroup{

    display: -webkit-box;
}
.datesFilterGroup{
    display: -webkit-box;
    padding: 22px;
    position: relative;
}
#filterDiv{
    padding: 1rem 1rem 0;
    background-color:#f4f4f4;;
    border: 1px solid  #dc3545;;
    border-radius: 6px;
    margin: 1.25rem 1rem 0;
    margin-bottom: 31px;
}
.formControl{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#rowForm{
      display: flex;
 margin-right: -5px;
    margin-left: -5px; 
}
.new
{    padding-right: 5px;
    padding-left: 5px;
    width: 217px;
}