
.checklabel{
  position: inherit;
}
.box[_ngcontent-c2] {
  position: relative;
  margin: auto;
  /* height: 800px; */
  top: 40px;
  left: 0;
  z-index: 200;
  right: 0;
  width: 400px;
  color: #666;
  padding: 10px 0px;
  border-radius: 10px;
  background: rgba(255,255,255,1);
  border: 2px solid #C0C0C0;
  border-bottom: 2px solid #F00;
  margin-bottom: 100px;
}