


<html>
  <form [formGroup]="formGroup">
<div class="box">
  <h1 id="logintoregister">AddNewUser</h1>
  
<div class="group">      
  <input class="inputMaterial" type="text"  formControlName="UserName">
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>UserName</label>
  </div>

  <div *ngIf="formGroup.controls['UserName'].errors&&formGroup.controls['UserName'].touched">
      <p *ngFor="let err of obj.values(formGroup.controls['UserName'].errors)">{{err}}</p>
  </div>



  <div class="group">      
    <input class="inputMaterial" type="text"  formControlName="UserEmail">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>UserEmail</label>
    </div>
  
    <div *ngIf="formGroup.controls['UserEmail'].errors&&formGroup.controls['UserEmail'].touched">
        <p *ngFor="let err of obj.values(formGroup.controls['UserEmail'].errors)">{{err}}</p>
    </div>




<div class="group">      
  <input class="inputMaterial" type="password"  formControlName="Password">
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>Password</label>
  </div>

  <div *ngIf="formGroup.controls['Password'].errors&&formGroup.controls['Password'].touched">
      <p *ngFor="let err of obj.values(formGroup.controls['Password'].errors)">{{err}}</p>
  </div>



  <div class="group">
    <select class="inputMaterial" formControlName="TeamLeaderId">
      <option  *ngFor="let item of teamLeaders" >{{item.UserName}}</option>
      
    </select>

    <span class="highlight"></span>
    <span class="bar"></span>
    <label>TeamLeader</label>
  </div>

  <div *ngIf="formGroup.controls['TeamLeaderId'].errors&&formGroup.controls['TeamLeaderId'].touched">
    <p *ngFor="let err of obj.values(formGroup.controls['TeamLeaderId'].errors)">{{err}}</p>
  </div>


  <div class="group">
    <select class="inputMaterial" formControlName="UserKindId">
      <option  *ngFor="let item of userKinds" >{{item.KindUserName}}</option>
      
    </select>

    <span class="highlight"></span>
    <span class="bar"></span>
    <label>UserKindId</label>
  </div>

  <div *ngIf="formGroup.controls['UserKindId'].errors&&formGroup.controls['UserKindId'].touched">
    <p *ngFor="let err of obj.values(formGroup.controls['UserKindId'].errors)">{{err}}</p>
  </div>


<button id="buttonlogintoregister" (click)=submitAdd() [disabled]="formGroup.invalid">Add</button>
  
</div>
</form>

</html>