<form [formGroup]="formGroup" >
  <div class="box">
    <h1 id="logintoregister">Add New Project</h1>

    <div class="group">
      <input class="inputMaterial" type="text" formControlName="ProjectName">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>ProjectName</label>
    </div>

    <div *ngIf="formGroup.controls['ProjectName'].errors&&formGroup.controls['ProjectName'].touched">
      <p *ngFor="let err of obj.values(formGroup.controls['ProjectName'].errors)">{{err}}</p>
    </div>



    <div class="group">
      <input class="inputMaterial" type="text" formControlName="ClientName">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>ClientName</label>
    </div>

    <div *ngIf="formGroup.controls['ClientName'].errors&&formGroup.controls['ClientName'].touched">
      <p *ngFor="let err of obj.values(formGroup.controls['ClientName'].errors)">{{err}}</p>
    </div>



    <div class="group">
      <select class="inputMaterial" formControlName="TeamLeader"(change)="FillUsersToAdd()">
        <option  *ngFor="let item of teamLeaders" >{{item.UserName}}</option>
        
      </select>

      <span class="highlight"></span>
      <span class="bar"></span>
      <label>TeamLeader</label>
    </div>

    <div *ngIf="formGroup.controls['TeamLeader'].errors&&formGroup.controls['TeamLeader'].touched">
      <p *ngFor="let err of obj.values(formGroup.controls['TeamLeader'].errors)">{{err}}</p>
    </div>


<!-- עובדים נוספים -->
<p>other worker to this project</p>
<div *ngFor="let item of usersToAdd">
    <!-- <input type="checkbox" name={{item.UserName}} value={{item.UserName}} id={{item.UserName}} (change)=addCheckedWorker(item.UserId,event.target)> -->
    <input type="checkbox" name={{item.UserName}} value={{item.UserId}} id={{item.UserName}} (change)=addCheckedWorker($event)>
    <label class="checklabel" for={{item.UserName}}>{{item.UserName}}</label> 
  </div>




    <div class="group">
      <input class="inputMaterial" type="number" formControlName="DevelopersHours">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>DevelopersHours</label>
    </div>

    <div *ngIf="formGroup.controls['DevelopersHours'].errors&&formGroup.controls['DevelopersHours'].touched">
      <p *ngFor="let err of obj.values(formGroup.controls['DevelopersHours'].errors)">{{err}}</p>
    </div>


    <div class="group">
        <input class="inputMaterial" type="number" formControlName="QAhours">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>QAhours</label>
      </div>
  
      <div *ngIf="formGroup.controls['QAhours'].errors&&formGroup.controls['QAhours'].touched">
        <p *ngFor="let err of obj.values(formGroup.controls['QAhours'].errors)">{{err}}</p>
      </div>



      <div class="group">
          <input class="inputMaterial" type="number" formControlName="UiUxHours">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>UiUxHours</label>
        </div>
    
        <div *ngIf="formGroup.controls['UiUxHours'].errors&&formGroup.controls['UiUxHours'].touched">
          <p *ngFor="let err of obj.values(formGroup.controls['UiUxHours'].errors)">{{err}}</p>
        </div>



        <div class="group">
            <input class="inputMaterial" type="date" formControlName="BeginingDate">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>BeginingDate</label>
          </div>
      
          <div *ngIf="formGroup.controls['BeginingDate'].errors&&formGroup.controls['BeginingDate'].touched">
            <p *ngFor="let err of obj.values(formGroup.controls['BeginingDate'].errors)">{{err}}</p>
          </div>



          <div class="group">
              <input class="inputMaterial" type="date" formControlName="FinishDate">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>FinishDate</label>
            </div>
        
            <div *ngIf="formGroup.controls['FinishDate'].errors&&formGroup.controls['FinishDate'].touched">
              <p *ngFor="let err of obj.values(formGroup.controls['FinishDate'].errors)">{{err}}</p>
            </div>


    <!-- <button id="buttonlogintoregister" (click)=Submit() [disabled]="formGroup.invalid">Add</button> -->

    <button id="buttonlogintoregister" (click)=Submit()>Add</button>
  </div>
</form>


<form> 
<div *ngFor="let item of usersToAdd">
  <input type="checkbox" name={{item.UserName}} value={{item.UserName}} id={{item.UserName}}>
  <label class="checklabel" for={{item.UserName}}>{{item.UserName}}</label> 
</div>

</form>

